PORT=4001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
PUBLIC_API_BASE_URL=http://localhost:4001

JWT_SECRET=change_me
JWT_EXPIRES_IN=3h

DB_HOST=localhost
DB_PORT=5432
DB_NAME=just_database
DB_USER=postgres
DB_PASSWORD=change_me
DB_DIALECT=postgres
DB_SYNC_ALTER=true

CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_KEY=your_api_key
CLOUDINARY_SECRET=your_api_secret
